---
http_interactions:
- request:
    method: post
    uri: https://api.payassist.io/p2p/transfer/get-order-info
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"fetchOrderInfo"},"reqData":{"request_id":"2c9c407b-5576-43ba-b771-8890dc6a4e32"}}'
    headers:
      Authorization:
      - Basic bGo4TkdpN3h0NVVnSngxSjpFYnNpTkJMdzVBOERxMGlwdmVhZmlHR2dDWmI5VVk=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"fetchOrderInfo","version":"0.1","lang":"EN","androidVersion":1,"iosVersion":"1.0","traceId":"c43f99e0e1ba64b1"},"result":{"status":true,"message":"Request
        completed successfully","request_id":"2c9c407b-5576-43ba-b771-8890dc6a4e32"},"responseData":{"total":1,"transactions":[{"note":null,"amount":"1001.00000000","commission":"0.00","ctime":"2024-04-08T10:57:19.21416+03:00[Europe/Moscow]","provider":"CARD","currency":"RUB","tail":null,"receiptCode":null,"tx":[{"ctime":null,"mtime":null,"amount":1001.00000000,"address":null,"balance":null,"removed":0,"ref_id":null,"tx_type":"CREDIT","order_id":"b181abdb-4ffc-404b-9a27-842e59a762dc","tariff_charge":0,"fee_amount":0}],"rate":1,"expiredTime":null,"_id":"b181abdb-4ffc-404b-9a27-842e59a762dc","src_user":"b3190ba6-7ff9-4caf-be08-bc546cab05cd","dest_user":null,"tx_type":"MERCHANT-EXTERNAL","tx_status":"FAILED","real_status":"FAILED","ref_id":"b181abdb-4ffc-404b-9a27-842e59a762dc","update_time":"2024-04-08T10:57:19.77479+03:00[Europe/Moscow]","extra_info":null,"source_address":"2c9c407b-5576-43ba-b771-8890dc6a4127","dest_address":"4242424242424242","extra_id":null,"protocol_type":"CARD","tx_direction":"WITHDRAW","request_id":"2c9c407b-5576-43ba-b771-8890dc6a4e32","final_pay_source":"unknown","crypto_tx_ids":null,"crypto_amount":null,"cAmount":0E-8,"cType":"RUB"}]},"errors":null}'
  recorded_at: Mon, 08 Apr 2024 12:48:37 GMT
recorded_with: VCR 5.1.0
