---
http_interactions:
- request:
    method: post
    uri: https://api.payassist.io/p2p/accounts/fetch-balance
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"accountsBalance"},"reqData":{"provider":["CARD"],"currency":["RUB"]}}'
    headers:
      Authorization:
      - Basic bGo4TkdpN3h0NVVnSngxSjpFYnNpTkJMdzVBOERxMGlwdmVhZmlHR2dDWmI5VVk=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"accountsBalance","version":"0.1","lang":"EN","androidVersion":1,"iosVersion":"1.0","traceId":"fb22bae0ee9d929c"},"result":{"status":true,"message":"Request
        completed successfully"},"responseData":{"accounts":[{"address":"CARD_RUB","sum":1000.000000,"revenue":null,"provider":"CARD","currency":"RUB","deposit":true,"withdraw":true,"minWithdraw":1000.00}],"user_id":"b3190ba6-7ff9-4caf-be08-bc546cab05cd"},"errors":null}'
  recorded_at: Fri, 05 Apr 2024 08:56:41 GMT
recorded_with: VCR 5.1.0
