---
http_interactions:
- request:
    method: post
    uri: https://api.payassist.io/p2p/bill-payment/invoice-host2host/create
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"CreateBillInvoiceHost2Host"},"reqData":{"amount":300,"address":"0817","platform":"CARD","currency":"RUB","ip":"135.181.xx.xx","client":"89221111111","recipient":"user1","c_from":"TCSBRUB","c_to":"CARDRUB","date":"2024-04-05T19:40:19","txn":"2c9c407b-5576-43ba-b771-8890dc6a4e16","user_agent":"Mozilla/5.0
        (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116
        Safari/537.36","email":"test@gmail.com","cid":"2c9c407b-5576-43ba-b771-8890dc6a4e17","paySource":"card"}}'
    headers:
      Authorization:
      - Basic bGo4TkdpN3h0NVVnSngxSjpFYnNpTkJMdzVBOERxMGlwdmVhZmlHR2dDWmI5VVk=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"CreateBillInvoiceHost2Host","version":"0.1","lang":"EN","androidVersion":1,"iosVersion":"1.0","traceId":"0a347dd63b3a2b90"},"result":{"status":true,"message":"Request
        completed successfully"},"responseData":{"message":"Customer order has been
        registered, kindly share below details with them.","paymentNumber":"4242424242424242","holderName":"Test Holder Name",
        "bankName":"Sberbank","amount":300,"currency":"RUB","rate":1,"expiredTime":"2024-04-05T13:10:21Z","_id":"8bae0582-eac7-4da9-ab14-fccd37e20f71","cAmount":300,"cType":"RUB"},"errors":null}'
  recorded_at: Fri, 05 Apr 2024 12:40:22 GMT
recorded_with: VCR 5.1.0
