---
http_interactions:
- request:
    method: post
    uri: https://api.payassist.io/p2p/bill-payment/rate_p2p
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"PayRateExchange"},"reqData":{}}'
    headers:
      Authorization:
      - Basic bGo4TkdpN3h0NVVnSngxSjpFYnNpTkJMdzVBOERxMGlwdmVhZmlHR2dDWmI5VVk=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"header":{"txName":"","version":"0.1","lang":"EN","androidVersion":1,"iosVersion":"1.0","traceId":"d825ee0f7614fccd"},"result":{"status":true,"message":"Request
        completed successfully"},"responseData":{"currencyFrom":"RUB","currencyTo":"USDT","rate":97.10},"errors":null}'
  recorded_at: Mon, 08 Apr 2024 11:29:32 GMT
recorded_with: VCR 5.1.0
